#content_aventura2 {
    display: inline-flex;
    position: relative;
    top: -50px;
    border: 2px solid black;
}

#video_div {
   display: inline-flex;
   position: relative;
   top: 0px;
   left: 0px;
   background-color: grey;
}

#video_content {
    height: 500px;
    width: 500px;
}


#img_div {
   display: inline-flex;
   position: relative;
   top: 0px;
   left: 0px;
   background-color: grey;
}

#taken_photo {
    height: 500px;
    width: 500px;
}
